html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 0px;
  max-width: 1440px;
  min-width: 320px;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  background: var(--blue-light, #deebff);
}
.title1 {
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
  margin: 0px;
}
h2 {
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.title-populaire {
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-mep {
  display: flex;
  padding-right: 0px;
  justify-content: space-between;
}
.activites {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hebergement {
  color: var(--blue, #0065fc);
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: #0065fc 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.logo1 {
  display: flex;
  padding: 30px 30px 30px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.header-nav {
  display: flex;
  padding: 0px 25px;
  flex-direction: row;
  gap: 68px;
  height: 35px;
}
.titre-mep {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  margin: 0px;
  padding: 0px;
}
.gps {
  width: 50px;
  height: 49px;
  flex-shrink: 0;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.mobil-search-button {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.color-filtre {
  padding: 0px;
  margin: 0px;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.flex-button {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.flex-filter {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
}
.flex-favoris-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.rechercher {
  display: flex;
  padding: 15px 16px;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid var(--blue, #0065fc);
  background: var(--blue, #0065fc);
  color: var(--white, #fff);
}
.rechercher2 {
  display: none;
}
.recherche {
  display: flex;
  width: 377px;
  align-items: center;
  border: 1px solid var(--grey, #f2f2f2);
  background: var(--white, #fff);
  border-radius: 0px 0px 0px 0px;
}
.all-mep {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.label {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.favoris-button {
  border-radius: 25px;
  border: 2px solid var(--grey-tint-2, #d9d9d9);
  text-decoration: none;
  color: black;
  padding: 4px 19px 4px 19px;
  display: flex;
  justify-content: row;
  align-items: center;
  height: 40px;
  color: var(--black, #000);
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  gap: 10px;
}

.filtre-title {
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filtre {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.filtre2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 10px;
  margin: 0px;
}
p {
  margin: 0px;
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.all-hebergement {
  background: var(--grey, #f2f2f2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 62%;
  gap: 30px;
  padding: 30px;
}

.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}
.image0 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 0px;
  gap: 4px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  align-self: stretch;
  object-fit: cover;
  width: 30%;
  margin: 0;
}
.figure-image0 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 0px;
  border-radius: 20px;
  background: #fff;
  object-fit: cover;
  margin: 0;
}
.image1 {
  display: flex;
  flex-direction: column;
}
.taille-image {
  height: 124px;
}
.image2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 15px 15px 15px;
}
.letter {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 21px;
  margin: 0% 0% 0% 0px;
}
.title-hebergement {
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0%;
  margin: 0% 0% 0% 0px;
}
.prix-hebergement {
  color: #000;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.titre-hebergement {
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.titre-hebergement1 {
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
span {
  color: #000;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.flex-hebergement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 75px;
}
.all-populaire {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: var(--grey, #f2f2f2);
  width: 25%;
  gap: 30px;
  align-items: center;
  padding: 30px;
}
.all-popular-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.case-populaire {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title-populaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  margin: 0%;
  width: 100%;
}

.picture {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.picture1 {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.picture2 {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-top: 10px;
  margin-left: 5px;
  gap: 5px;
}
.activite-title {
  padding: 20px 19px 20px 19px;
}
.star1 {
  padding-left: 15px;
}
.star-cost {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
}
.activite-case {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  width: 20%;
}
.all-activite-case {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.all-activite {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0;
  gap: 30px;
}
.marseille-activite {
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--grey, #f2f2f2);
}
.footer-lane {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 20px;
}

footer {
  margin-top: 35px;
}
.image-large {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-medium {
  display: none;
}

.image-small {
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .flex-hebergement {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .flex-filter {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
  .color-filtre {
    display: flex;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all-hebergement {
    width: 93%;
  }
  .all-populaire {
    width: 93%;
  }
  .all-popular-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .image-large {
    display: none;
  }
  .image-medium {
    display: none;
  }

  .image-small {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .image-large {
    display: none;
  }
  .image-medium {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .image-small {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .header-mep {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo1 {
    display: flex;
    width: 61px;
    height: 19px;
    padding: 30px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
    width: 100%;
  }
  .hebergement {
    width: 100%;
    color: var(--blue, #0065fc);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top: none;
    border-bottom: #0065fc 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .all-mep {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .recherche {
    width: 100%;
  }
  .filtre {
    display: flex;
    flex-direction: column;
  }
  .label {
    width: 100%;
  }
  .flex-button {
    display: flex;
    flex-direction: column;
  }
  .flex-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .flex-favoris-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .favoris-button {
    width: 33%;
    color: var(--black, #000);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .flex-hebergement {
    display: flex;
    flex-direction: column-reverse;
  }
  .all-populaire {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    border-radius: 0%;
    gap: 15px;
    padding: 30px 20px 30px 20px;
  }
  .all-popular-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
  .all-hebergement {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    padding: 20px;
  }
  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image0 {
    width: 100%;
  }
  .all-activite {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 95%;
  }
  .all-activite-case {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
  .activite-case {
    width: 100%;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
    width: 100%;
  }
  .image-large {
    display: none;
  }
  .image-medium {
    display: none;
  }
  .image-small {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .rechercher {
    display: none;
  }
  .rechercher2 {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 0px solid var(--blue, #0065fc);
    background: var(--blue, #0065fc);
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
  }
}
